.wrapper{
    display: flex;
    flex-direction: column;
    gap: 4.7rem;
    
}

.main__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.1rem;
}

.bottom_cards{
    display: flex;
    align-items: center;
    gap: 2rem;
}