.container{
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr;
}

.tokenName{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    
}

.shortName , .fullName, .price , .changeValue{
    font-size: 1.2rem;
}

.fullName{
    opacity: 0.8;
}

.price{
    color: #9292C1;
}

.change{
    display: flex;
    gap: 1rem;
    align-items: center;

}

.changeValue{
    font-weight: 600;
}

.changeIcon {
    width: 1.2rem;
}

.up{
    color: green;
    transform: rotate(90deg);
}

.down{
    color: red;
    transform: rotate(-90deg);
}