.tokenName {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  
  .shortName,
  .fullName,
  .price,
  .changeValue {
    font-size: 1.2rem;
  }
  
  .fullName {
    opacity: 0.8;
  }
  
  .price {
    color: #9292c1;
  }
  
  .change {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: end;
    
  }
  
  .changeValue {
    font-weight: 600;
  }
  
  .changeIcon {
    width: 1.2rem;
  }
  
  .up {
    color: green;
    transform: rotate(90deg);
  }
  
  .down {
    color: red;
    transform: rotate(-90deg);
  }
  