.wrapper {
    display: flex;
    align-items: center;
}

.input {
    padding: 1.5rem 1rem 1.5rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--colors__inside);
    border: none;
}

.iconWrapper {
    background-color: var(--colors__inside);
    padding: 1.5rem 2rem 1.5rem 1rem;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.icon {
    width: 2rem;
    height: 1.7rem;
}